<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>QR Code Reader</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/qrcodeutility.js"></script>
  </head>
  <body ng-app="QRCodeReader" ng-controller="AppCtrl">
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">QR Code Reader</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <div id="result">{{result}}</div>
        <div class="bar bar-footer" style="min-height:70px;">
          <button style="height:auto;min-height:55px;" class="button button-block button-light" ng-click="scan();">Scan QR Code</button>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
